html{
    width: 100vw;
    background-color: rgb(224, 224, 224);
}

.pageHeading{
    font-family: 'Ubuntu', sans-serif;
}

/* Nav */
.Nav{
    width: 100vw;
    padding: 2vh 1.6vw;
    font-family: 'Ubuntu';
}

.nav-link{
    all: inherit;
}

/* Home */
.homeInnerDiv{
    margin: 5vh 4vw;
    padding: 2vh;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 4rem black;
}

.homePara{
    text-align: left;
    margin: 1%;
}

.mapBlogDiv{
    margin: 1.5vh 0.5vw;
}

/* Admin */
.panelCol{
    margin-bottom: 2%;
}

.adminPanel{
    text-align: center;
}

.adminDiv{
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 20vh;
    text-align: center;
}

.adminForm{
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: larger;
    font-weight: 600;
}

.adminLoginForm{
    padding-left: 15vw;
    padding-right: 15vw;
}

@media screen and (min-width: 992px){
    .adminLoginForm{
        padding-left: 30vw;
        padding-right: 30vw;
    }
    .adminLoginForm{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}